<!-- START THE FEATURETTES -->
<div class="container">
<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading">Cuide bem do seu Caozinho. 
        <span class="text-muted">Levar para um passeio uma vez ao dia aumenta sua espectativa de vida</span></h2>
    <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit non vel saepe necessitatibus id vero, harum mollitia quisquam inventore 
        temporibus, laudantium neque officiis, iusto unde nihil deleniti velit voluptatem doloribus.</p>
  </div>
  <div class="col-md-5">
    <img class="featurette-image img-fluid mx-auto" src="/img/foto1.jpg" alt="Generic placeholder image">
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  
  <div class="col-md-5">
    <img class="featurette-image img-fluid mx-auto"  src="img/foto2.jpg" alt="Generic placeholder image">
  </div>
  <div class="col-md-7">
        <h2 class="featurette-heading">Dica 02 
            <span class="text-muted">Veja como é bom o seu amigo</span></h2>
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, animi impedit. Quasi ullam ducimus expedita perferendis ea omnis laborum, 
            fugiat asperiores blanditiis, odit quaerat amet deserunt quas. Aliquid, facere officiis.</p>
      </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading">Dica 3 <span class="text-muted">Cuidados com os gatos</span></h2>
    <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi itaque earum alias voluptas, accusantium sint maiores! 
        Doloribus ipsam totam repudiandae sint deleniti libero alias vero, voluptatem maxime illo aperiam sed?</p>
  </div>
  <div class="col-md-5">
    <img class="featurette-image img-fluid mx-auto" src="/img/foto3.jpg" alt="Generic placeholder image">
  </div>
</div>

<hr class="featurette-divider">
</div>