<div class="container">
    <div class="row">
          <div class="col-sm">
            <img src="img/area1.jpg" width="30%">
          </div>
          <div class="col-sm">
                <img src="img/area2.jpg" width="30%">
          </div>
          <div class="col-sm">
                <img src="img/tosa-dicas.jpg" width="30%">
          </div>
        
        <!--Faz a grig ganhar mais uma linha-->
        <!--<div class="w-100"></div> 

          <div class="col-sm">
            <img src="../img/loja1.jpg" width="30%">
          </div>
          <div class="col-sm">
                <img src="../img/loja2.jpg" width="30%">
          </div>
          <div class="col-sm">
                <img src="../img/loja3.jpg" width="30%">
          </div>
        
        <div class="w-100"></div>

          <div class="col-sm">
            <img src="../img/foto1.jpg" width="30%">
          </div>
          <div class="col-sm">
                <img src="../img/foto2.jpg" width="30%">
          </div>
          <div class="col-sm">
                <img src="../img/foto3.jpg" width="30%">
          </div>
        -->
    </div>
</div>