<div class="t_250_250"> 
    <h1> teste Home </h1>
   </div>

   <h1>Serviços</h1> <br>
<hr>
<h2> <en> Banho</en></h2>
<h3>Tanto cães e gatos são utilizam apnas produtos veterinários. Tomam banho de água aquecida, 
    cães e gatos de pelo longo passam por uma escovação antes do banho. A secagem é feita 
    em por aparelhos que não agridem a pele animal.  </h3>

<img src="img/banho.jpg">

<h2> <en> Tosa </en></h2>
<h3> A tosa é feita de acordo com o pedido do cliente e a pelagem do animal.  </h3>

<img src="img/tosa.jpg" alt="">
<h2> <en>Banho com Tosa higiênica </en></h2>
<h3> Banho seguido de tosa higiênica, na qual 
    são aparados os pelos nas genitálias e do rosto. </h3>

<h2> <en>Banho contra parasitas </en></h2>
<h3> Banho realizado com produtos que retiram as pulgas e carrapatos. </h3>